* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
  background-color: #1f2d3d;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 1.25;
}

strong {
  font-size: 14px;
  font-weight: 400;
  color: #afb3b9;
  line-height: 1.4285714286;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 1.5;
}

/* ▼ WHERE YOUR CODE BEGINS */
ul {
  list-style-type: none;
  padding-left: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.card {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  border-bottom: 1px solid gray;
}

.card img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  float: left;
}
.card .card-content {
  float: left;
  margin-left: 20px;
}
.card .card-content h1 {
  margin-bottom: 4px;
}
.card .card-content strong {
  display: block;
  margin-bottom: 12px;
}
.card .card-content p {
  overflow: hidden;
  text-overflow: ellipsis;
}
